<h1>All Restaurants</h1>

<br>

<ul>
  <% @restaurants.each do |r| %>
  <li><%= link_to r.name, restaurant_path(r) %> - <%= r.address %> - <%= r.category %> - <%= r.phone_number %></li>
  <% end %>
</ul>

<br>

<ul>
  <li><%= link_to "Add Restaurant", new_restaurant_path %></li>
</ul>
